
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .list {
    list-style: none;
  }
  
  .listItem {
    padding: 2rem;
    border-bottom: 1px solid #eee;
  }
  
  .listItem:last-child {
    border-bottom: none;
  }
  
  .gameName {
    margin: 0 0 0.25rem 0;
    font-size: 1rem;
  }
  
  .gameInfo {
    font-size: 1rem;
    color: #666;
  }

  .cardContent {
    display: flex;
    align-items: flex-start;
    gap: 50px;
   }
  
  .imageMask {
    width: 230px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    flex-shrink: 0;
    position: relative;
  }
  
  .gameImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gameDetails {
    flex: 1;
  }
  
  .gameName {
    font-size: 1.25rem;
    color: #0082BC;
  }
  
  .gameInfo {
    margin: 2px 0;
  }
  
  .buttonGroup {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    margin-top: 1rem;
  }

  .bookmarkButton {
    margin-right: 20px;
    height: 34px;
  }

  .bookmarkButton2 {
    height: 34px;
  }

  .tabButton {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-bottom: none;
    background: white;
    color: #111827;
    cursor: pointer;
    border-radius: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .tabButton:hover {
  background-color: #D6C4FF;
  transform: scale(1.05);
  }
  
  .activeTab {
    background: #4f46e5;
    color: white;
    font-weight: bold;
  }

  .centeredChart {
    width: 100%;
    max-width: 700px;
    margin: 0;
  }

  .tabWrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .rightSection {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatarMask {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .userImage {
    width: 100%;
    height: 100%;
  }

  .sectionWrapper {
    border-bottom: 1px solid #eee;
  }

  .sectionWrapper:last-child {
    border-bottom: none;
  }

  .overlayBookmarkButton {
  position: absolute;
  top: 8px;
  right: 0px;
  background: transparent;
  cursor: pointer;
}

.bookmarkedIcon {
  color: #FF815D;
  font-size: 1.5rem;
}

.unbookmarkedIcon {
  color:#FF815D;
  font-size: 1.5rem;
}